body {
  background-image: url(https://i.imgur.com/8YMFRxH.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.allResults {
  width: 600px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(92, 212, 108);
  opacity: 80%;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  border: 5px solid;
  padding: 2px;
  text-align: center;
}

#main {
  background-image: url(https://wallpapercave.com/wp/wp6630058.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  width: 700px;
  font-family: "Arima Madurai", cursive;
  background-color: rgb(23, 118, 49);
  opacity: 75%;
  margin: auto;
  border-radius: 30px;
  text-align: center;
  padding: 40px;
  color: rgba(56, 130, 179, 0.836);
}

#instructions {
  width: 700px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(23, 118, 49);
  opacity: 80%;
  margin: auto;
  border-radius: 15px;
  text-align: center;
  padding: 0px;
  color: rgba(252, 252, 252, 0.836);
}

#main2 {
  width: 500px;
  font-family: "Arima Madurai", cursive;
  background-color: rgb(23, 118, 49);
  opacity: 80%;
  margin: auto;
  border-radius: 15px;
  text-align: center;
  padding: 0px;
  color: rgba(252, 252, 252, 0.836);
}

.titleclass {
  width: 400px;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  ;
  background-color: rgb(255, 255, 255);
  opacity: 80%;
  margin: auto;
  margin-top: 0px;
  border-radius: 00px;
  border: 1px solid;
  padding: 0px;
  text-align: center;
}

.postTimeclass {
  width: 400px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  opacity: 80%;
  margin: auto;
  margin-top: 0px;
  border-radius: 00px;
  border: 0px;
  padding: 0px;
  text-align: center;
}

#header {
  background: url(https://thumbs.gfycat.com/EarlyAntiqueIbizanhound-max-1mb.gif);
  background-size: cover;
  background-position: center;

  -webkit-background-clip: text;
  color: transparent; // set to transparent, otherwise won't see the background

  width: 700px;
  height: 60px;
  box-sizing: border-box;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 65px;
  flex-shrink: 0;
}

#my-container {
  width: 400px;
  height: auto;
  border: 1px solid black;
  padding: 10px;
}

.tabs-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.tab {
  width: 100px;
  height: 50px;
  background-color: gray;
  color: white;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.tab:hover {
  background-color: black;
}